<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>

    <h1>student details</h1>

    studentId : {{studentId}}
    studentname : {{studentname}}
    studentMarks : {{studentMarks}}


</body>

</html>